body{
    background-color: black;    
}

p {
    color:white;
}

nav {
    font-size: 2em;
    color:yellow;
}

button {
    color:white;
}

a {
    color:yellow;
    
}

div {
    color: white;
}

#submit {
    color:black;
    margin-top: 30px;
}

#title {
    background-color: yellow;    
    caret-color:black;    
}

input {
    color:white;    
    padding: 12px 20px;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

input:focus {
    background-color: plum;
}

.user-data {
    width: 100%;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:50px;   
    
}


@media only screen and (min-width:30em) and (max-width:80em) {
    #title{
        width:100%;
        background-color:white;
    }

}


